/* Grid Layout Container */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 30px;
  height: 98vh;
}

.main {
  background-color: inherit;
  color: #fff;
  font-family: "Lato";
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.sub {
  background-color: inherit;
  color: #424242;
  font-family: "Lato";
}
/* Sub Layout */
/* --- Column 1 --- */
.first-c {
  grid-column: 1 / 3;
  grid-row: 2;
}
/* --- Column 2 --- */
.second-a {
  grid-column: 1 / 3;
}

.second-b {
  grid-column: 1 / 3;
}
/* --- Column 3 --- */
.third-a {
  grid-column: 1 / 3;
}

.third-b {
  grid-column: 2;
}

.third-c {
  grid-row: 2/4;
}
